body {
    font-size: 12px;
    background-color: black;
    margin: 0;
    padding: 0 10px;
}

h1 {
    font-size: 8rem;
    color: white;
    margin: 25vh 0 0 0;
    padding: 0;
}

p {
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

img {
    margin: 15px 0;
    padding: 0;
}

a {
    color: white;
}

@media screen and (max-width: 678px) {
    h1 {
        font-size: 15vw;
        color: white;
        margin: 25vh 0 0 0;
        padding: 0;
    }
    p {
        color: white;
        font-size: 4vw;
        margin: 0;
        padding: 0;
    }
}